/* Estilo global para el cuerpo */
body {
    font-family: Arial, sans-serif; /* Define la fuente del cuerpo */
}

/* Estilo para el encabezado */
header {
    background-color: #5e9df5; /* Fondo azul del encabezado */
    color: #000000; /* Color de texto negro */
    display: flex; /* Utiliza el modelo flexbox para el diseño */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px; /* Agrega relleno alrededor del encabezado */
}

/* Estilo para el logotipo */
.logo img {
    max-height: 145px; /* Establece la altura máxima de la imagen del logotipo */
}

/* Estilo para la navegación */
nav ul {
    list-style: none; /* Elimina los estilos de lista predeterminados */
    display: flex; /* Muestra la lista de navegación en línea */
}

/* Estilo para los elementos de la lista de navegación */
nav ul li {
    margin-right: 20px; /* Añade un margen a la derecha entre los elementos de la lista de navegación */
}

/* Estilo para los enlaces de navegación */
nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #000000; /* Color de texto negro */
    font-weight: bold; /* Establece la negrita para los enlaces */
}

/* Estilo para el contenido principal */
.main-content {
    max-width: 800px; /* Establece el ancho máximo del contenido principal */
    margin: 20px auto; /* Centra el contenido principal en la página */
}

/* Estilo para la información bancaria */
.bank-info {
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo para la descripción */
.description {
    max-width: 400px; /* Establece el ancho máximo de la descripción */
}

/* Estilo para el enlace "Leer más" */
#readMore {
    color: blue; /* Establece el color del texto como azul */
}

/* Estilo para la descripción completa */
#fullDescription {
    display: none; /* Inicialmente, oculta el contenido completo */
}
