*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://media.istockphoto.com/id/1203763961/es/foto/tarjetas-de-cr%C3%A9dito-apiladas.jpg?s=612x612&w=0&k=20&c=IV-cMMnyIoQJg0SQRKNEgbKbyamDeRo_fo-dKzsJdpU=');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
	margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	background: #b80f22;
}

button:hover {
    background-color: #0056b3;
}

.registrarse {
    margin-top: 15px;
    color: #333;
}

.container{
	background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}