body {
    font-family: Arial, sans-serif;
	font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
	background-color: rgb(130,142,150);
}

header {
    color: #000000;
	background-color:#ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
	display: flex;
	margin: 0;
}

nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px; /* Reduzco el margen entre elementos */
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}


button {
    height: 50px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    position: relative;
	background-color: #004080;
    text-decoration: none; 
    display: inline-block;
    padding: 10px 20px;  
	margin-top: 10px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

input {
    width: 200px;
}

.use{
	margin-bottom: up;
}
