body {
    font-family: Arial, sans-serif;
}

header {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px; /* Reduzco el margen entre elementos */
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.main-content {
    margin-left: auto;
    max-width: 800px;
    margin: 100px;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}

.bank-info {
    text-align: left;
}

.description {
    max-width: 400px;
}

#readMore {
    color: blue;
}

#fullDescription {
    display: none;
}

button {
    height: 50px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background-image: url('images.jpg');
    text-decoration: none;  /* Para quitar cualquier subrayado */
    display: inline-block; /* Para asegurar que no haya saltos de línea al agregar padding o border */
    padding: 10px 20px;    /* Ajusta el padding según tus necesidades */
}
