body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
			background-image:url('https://img.freepik.com/fotos-premium/concepto-banca-financiera-servicios-financieros-inversion-rotacion-dinero-cajeros-automaticos-almacenamiento-fondos-efectivo-bovedas-negocio-productividad-inversion-exitosa-banco_771426-7830.jpg');
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-size:100% 100%;
        }
.container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
.completar-datos-tarjeta form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
#numero_tarjeta	{
	width: 230px;
}
h2 {
            color: #333;
        }
#continue {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
			background-color:rgb(0,110,71);
			font-size: 110%;
        }
#open {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
			background-color:rgb(0,110,71);
			font-size: 110%;
        }
input {
	border-radius:5px;
}
		