body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	background: linear-gradient(to right, rgb(131,148,167) 50%, rgb(147,162,176) 50%);
	background-size: cover;
}

header {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
	background-color: #ffff;
}

nav ul {
    font-size: 20px;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.opcion-container{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top: 200px;
    justify-content: space-around;
}
.imagen-carta{
    margin-right: 50px;
    text-align: center;
    text-decoration: none;
	align-items: center;
}

.users,
.clients {
    flex: 1;
    text-align: center;
	margin-right: 300px;
	margin-bottom: 200px;
    text-decoration: none;
}

img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
figcaption{
	font-weight: bold;
}
a{
	text-decoration: none;
	color: black;
}
