*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
	background-image:url('https://media.istockphoto.com/id/1203763961/es/foto/tarjetas-de-cr%C3%A9dito-apiladas.jpg?s=612x612&w=0&k=20&c=IV-cMMnyIoQJg0SQRKNEgbKbyamDeRo_fo-dKzsJdpU=');
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
	
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: aquamarine;
}

.login-box{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    left: 30%;
    position: absolute;
    transform: translate(50%, 50%);
    box-sizing: border-box;
    padding: 70px 30px;
	text-align: center;
	margin-top: -100px;
}
.login-box .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1, h2{
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    font-weight: bold;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}